main {
    background: url(../img/section02_bg.png);
}


  main #taste {
    
  }
  main #taste .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  20px;    
  }
  main #taste .inner h2.h2 {
    margin-bottom: 20px;
    
  }
  main #taste .inner ul.list {
    display: flex;
    gap: 10px;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
  }
  main #taste .inner ul.list li {
    width: calc((100% / 6) - (50px / 6));
    box-sizing: border-box;
  }

  main #taste .inner ul.list li::before{
    content: "";
    display: block;
    width: 100%;
    background-color: yellow;
    border-radius: 6px;
    height: 262px;
    margin-bottom: 11px;

    background-repeat: no-repeat;
    background-position: center;
  }
  
  #taste .inner ul.list li:nth-child(1)::before {
    background-image: url(../img/1.png);
    background-color: #efe4db;
  }
  #taste .inner ul.list li:nth-child(2)::before {
    background-image: url(../img/2.png);
    background-color: #f6efe0;
  }
  #taste .inner ul.list li:nth-child(3)::before {
    background-image: url(../img/3.png);
    background-color: #f9e5e5;
  }
  #taste .inner ul.list li:nth-child(4)::before {
    background-image: url(../img/4.png);
    background-color: #ededed;
  }
  #taste .inner ul.list li:nth-child(5)::before {
    background-image: url(../img/5.png);
    background-color: #e4f3f9;
  }
  #taste .inner ul.list li:nth-child(6)::before {
    background-image: url(../img/6.png);
    background-color: #fcf4e5;
  }

  main #taste .inner ul.list li a {
    width: 100%;
    display: block;
    border-radius: 25px;.
    line-height: 2;
    font-size: 20px;
    background-color: #f9f9f9;
  }

  
  main #taste .inner ul.list li a:hover{
    background-color: #d30000;
    color: white;
    
  }

  main #taste .inner ul.list li a:hover:before{
    content: "VIEW MORE";

  }
 

  
