footer {

    background-color: #1b1b1b;
    color: white;
    }
  
  footer a{
   
  }

    footer .inner {
 
    height: 380px;
    }
    footer .inner > div {
    }
    footer .inner .left {
      
    display: flex;
    justify-content: space-between;
    padding: 50px;
    }
    footer .inner .left h1 {
      
    }
    footer .inner .left h1 a {
  
    color: white;
    }
    footer .inner .left address {
      

    }
    footer .inner .left p.copyrighy {
 
    }
    footer .inner .right {
  
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: end;
    }
    footer .inner .right ul.personal {

    gap: 20px;
    }
    footer .inner .right ul.personal li {
      
    }
    footer .inner .right ul.personal li a {
    
    color: white;
    }
    footer .inner .right .bottom {
 
    gap: 50px;
    }
    footer .inner .right .bottom ul.sns {
    
    gap: 20px;
    }
    footer .inner .right .bottom ul.sns li {
      
    }

    footer .inner .right .bottom ul.sns li a {

    color: white;
    }

    footer .inner .right .bottom ul.sns li a:hover{
    
    }

    footer .inner .right .bottom ul.sns li:nth-child(2) a{

    }

    footer .inner .right .bottom ul.sns li:nth-child(2) a:hover{
 
    }

   footer .inner .right .bottom ul.sns li:nth-child(3) a{
      
    }

    footer .inner .right .bottom ul.sns li:nth-child(3) a:hover{
      
        }

  footer .inner .right .bottom > a {

    color: white;
    }

  footer .inner .right .bottom > a::before {

    }