@media screen and (max-width:1200px){
  
/*  헤더  */
  header div.inner{
    flex-wrap: wrap;
  }
  
  header .inner h1{
    order: 1;
  }
  
  header .inner ul.gnb{
    order: 3;
    width: 100%;
    justify-content: center;
  }
  
  header .inner ul.enb{
    order: 2;
  }
  
  /*  타이틀  */
  #title{ 
    min-height: 36.45833333333333vw;
    height: 100vw;
  }
  #title::before{
    width: 78.54166666666667vw;
    height: 20.20833333333333vw;
    margin-top: 3.125vw;
  }
  #title form.search{
  width: 56vw;
  min-width: 600px;
  }
  #title form.search::before{
    width: 3vw;
    height: 3vw;
  }
  #title form.search input{
    width: 35.9375vw;
    font-size: 13px;
    font-weight: 500;
  }
  #title form.search button{
    width: 10.41666666666667vw;
    font-size: 13px;
    line-height: 3;
  }
  
/* 빙그레맛   */
  main #taste .inner ul.list li{
    width: calc((100% / 3) - (50px / 3));
  }
  
  #shop::before{
    display: none;
  }
  
  #shop .inner ul.list{
    flex-wrap: wrap;
  }
  
  #shop .inner ul.list li{
    width: calc(100% / 3 - 40px / 3);
  }
  
  /*  커뮤니티   */
  
  #community .inner > article{
    width: 90%;
  }
  #community .inner div{
    width: auto;
    gap: initial;
    box-shadow: 0 0 0 transparent;
    row-gap: 50px;
    padding: 20px 20px;
  }
  #community .inner div article ul li{
    width: calc(100%);
    font-size: 15px;
    line-height: 1.5;
    padding: 10px 0;
  }
/*   #community .inner div article ul li:nth-child(n+2):nth-child(-n+3){
    line-height: 1.5;
    padding
  } */
  #community .inner div article:not(.faq){
    
    width: calc(100%);
  }
  #community .inner div article > a.tel{
  font-size: 30px;
  }
  
    footer .inner{
    display: block;
    height: auto;
  }
  
  footer .inner .left address{
    margin-top: 0px;
    transform: translateY(0px);
  }
  footer .inner .right{
  align-items: flex-start;
  padding-top: 20px;
  }

  footer .inner .right .bottom{
    margin-top: 20px; 
  }  
  footer .inner .right .bottom ul.sns li{ 
    width: 7vw;
    height: 7vw;
  }
  footer .inner .right .bottom ul.sns li a{
  width: 4vw;
  height: 4vw;
  }
  footer .inner .right .bottom > a{ 
    width: 40vw;
    height: 10vw;
    font-size: 12px;
  }
  footer .inner .right .bottom > a::before{
    width: 15vw;
    height: 10vw;
  }  
  
  
}
@media screen and (max-width:768px){ /* max-width 이하 미디어쿼리*/
  
/* 헤더   */
  header .inner ul.gnb{  
    display: none;
  }
  header .inner ul.tnb{
    display: none;
  }
/*  타이틀  */
  #title form.search{
    min-width: 90%;
  }
  
   #title form.search input{
    width: 36vw;
    font-size: 13px;
    font-weight: 500;
  }
  #title form.search button{
    width: 20vw;
    font-size: 13px;
    line-height: 3;
  }
  
    #title form.search::before{
    width: 4vw;
    height: 4vw;
  }
  
/* 해시태그 */
  #title ul.hash li a{
    padding: 10px 10px;
  }
  
/*  빙그레맛  */
  main #taste .inner ul.list li{
    width: calc((100% / 2) - (50px / 2));
  }
  
  main #taste .inner{
  padding: 0px;
  }
  
/* 브랜드샵  */
  
  #shop::before{
    display: none;
  }
  #shop .inner ul.list{
    flex-wrap: wrap;
  }
  #shop .inner ul.list li{
    width: calc(100% / 2 - 20px / 2);
  }
  
/*  커뮤니티   */
  
  #community .inner > article{
    width: 90%;
    background-size: 100px;
  }
  #community .inner div{
    width: auto;
    gap: initial;
    box-shadow: 0 0 0 transparent;
    row-gap: 50px;
    padding: 20px 20px;
  }
  #community .inner div article ul li{
    width: calc(100%);
    font-size: 15px;
    line-height: 1.5;
    padding: 10px 0;
  }
/*   #community .inner div article ul li:nth-child(n+2):nth-child(-n+3){
    line-height: 1.5;
    padding
  } */
  #community .inner div article:not(.faq){
    
    width: calc(100%);
    background-size: 110px;
  }
  #community .inner div article > a.tel{
  font-size: 30px;
  }
/* footer   */
  footer .inner{
    display: block;
    height: auto;
  }
  
  footer .inner .left address{
    margin-top: 0px;
    transform: translateY(0px);
  }
  footer .inner .right{
  align-items: flex-start;
  padding-top: 20px;
  }

  footer .inner .right .bottom{
    margin-top: 20px; 
  }  
  footer .inner .right .bottom ul.sns li{ 
    width: 7vw;
    height: 7vw;
  }
  footer .inner .right .bottom ul.sns li a{
  width: 4vw;
  height: 4vw;
  }
  footer .inner .right .bottom > a{ 
    width: 40vw;
    height: 10vw;
    font-size: 12px;
  }
  footer .inner .right .bottom > a::before{
    width: 15vw;
    height: 10vw;
  }  
}